@import "shared/colors.less";
@import "shared/base.less";

.home {
	.fancybar {
		position   : absolute;
		top        : 0px;
		left       : 0px;
		height     : 3px;
		width      : 100%;
		background : @thalmicBlue;
	}
}
