@import "shared/colors.less";
@import "shared/base.less";
@import "./event/event.less";

.home {
	.fancybar {
		position   : absolute;
		top        : 0px;
		left       : 0px;
		height     : 3px;
		width      : 100%;
		background : @thalmicBlue;
	}
}

.container {
	display: flex;
	background: @thalmicBlue;
	padding: 2rem;
	section {
		flex: 1;
		background: @silver;
		&:first-child { flex: 2 }
	}
}
