@import "shared/colors.less";
@import "shared/base.less";

.event-list {
  list-style-type: none;
  &--item {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 1rem;
  }
}
